<h1 mat-dialog-title>ADD STUDENT</h1>
<div mat-dialog-content>

        <form  class="flex flex-column" [formGroup]="studentForm"> 
            <mat-form-field appearance="fill">
                <mat-label>FIRST NAME</mat-label>
                <input [formControl]="firstNameControl" matInput >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>LAST NAME</mat-label>
                <input [formControl]="lastNameControl" matInput >
            </mat-form-field>
            <div mat-dialog-actions>
                <button mat-button [mat-dialog-close]="studentForm.value">Add</button>
                <button mat-button (click)="close()" cdkFocusInitial>Cancel</button>
            </div>
        </form>

</div>

