*{
    font-family: 'Poppins', sans-serif;
}

main{
    padding-top: 50px;
    height: 100vh;
    background-color: #e6fcd9;
}

.card{
    background-color:  #cdf2d6;
}

.container{
    width: 50%;

}


